alabaster==0.7.12 ; python_version >= "3.10" and python_version < "4.0"
amqp==5.1.1 ; python_version >= "3.10" and python_version < "4.0"
astroid==2.12.11 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.10" and python_version < "4.0"
attrs==22.1.0 ; python_version >= "3.10" and python_version < "4.0"
autoflake==1.7.3 ; python_version >= "3.10" and python_version < "4.0"
babel==2.10.3 ; python_version >= "3.10" and python_version < "4.0"
billiard==3.6.4.0 ; python_version >= "3.10" and python_version < "4.0"
black==22.10.0 ; python_version >= "3.10" and python_version < "4.0"
cachetools==5.2.0 ; python_version >= "3.10" and python_version < "4.0"
celery==5.2.7 ; python_version >= "3.10" and python_version < "4.0"
certifi==2022.9.24 ; python_version >= "3.10" and python_version < "4"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "4"
click-didyoumean==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
click-repl==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.5 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
contourpy==1.0.5 ; python_version >= "3.10" and python_version < "4.0"
cryptography==38.0.3 ; python_version >= "3.10" and python_version < "4.0"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "4.0"
deprecated==1.2.13 ; python_version >= "3.10" and python_version < "4.0"
dill==0.3.5.1 ; python_version >= "3.10" and python_version < "4.0"
dnspython==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
docutils==0.17.1 ; python_version >= "3.10" and python_version < "4.0"
emmet-core==0.36.9 ; python_version >= "3.10" and python_version < "4.0"
eventlet==0.33.1 ; python_version >= "3.10" and python_version < "4.0"
flask-cors==3.0.10 ; python_version >= "3.10" and python_version < "4.0"
flask==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.37.4 ; python_version >= "3.10" and python_version < "4.0"
future==0.18.2 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.12.0 ; python_version >= "3.10" and python_version < "4.0"
greenlet==1.1.3.post0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.4 ; python_version >= "3.10" and python_version < "4"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
iniconfig==1.1.1 ; python_version >= "3.10" and python_version < "4.0"
isort==5.10.1 ; python_version >= "3.10" and python_version < "4.0"
itsdangerous==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
joblib==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.16.0 ; python_version >= "3.10" and python_version < "4.0"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "4.0"
kombu==5.2.4 ; python_version >= "3.10" and python_version < "4.0"
latexcodec==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
lazy-object-proxy==1.7.1 ; python_version >= "3.10" and python_version < "4.0"
lightgbm==3.3.3 ; python_version >= "3.10" and python_version < "4.0"
markdown-it-py==2.1.0 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
matminer==0.7.8 ; python_version >= "3.10" and python_version < "4.0"
matplotlib==3.6.1 ; python_version >= "3.10" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "4.0"
mdit-py-plugins==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "4.0"
monty==2022.9.9 ; python_version >= "3.10" and python_version < "4.0"
mp-api==0.29.0 ; python_version >= "3.10" and python_version < "4.0"
mpmath==1.2.1 ; python_version >= "3.10" and python_version < "4.0"
msgpack==1.0.4 ; python_version >= "3.10" and python_version < "4.0"
mypy-extensions==0.4.3 ; python_version >= "3.10" and python_version < "4.0"
myst-parser==0.18.1 ; python_version >= "3.10" and python_version < "4.0"
networkx==2.8.7 ; python_version >= "3.10" and python_version < "4.0"
numpy==1.23.3 ; python_version >= "3.10" and python_version < "4.0"
packaging==21.3 ; python_version >= "3.10" and python_version < "4.0"
palettable==3.3.0 ; python_version >= "3.10" and python_version < "4.0"
pandas==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
pathspec==0.10.1 ; python_version >= "3.10" and python_version < "4.0"
pillow==9.2.0 ; python_version >= "3.10" and python_version < "4.0"
platformdirs==2.5.2 ; python_version >= "3.10" and python_version < "4.0"
plotly==5.10.0 ; python_version >= "3.10" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.31 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.4 ; python_version >= "3.10" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.2.8 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.4.8 ; python_version >= "3.10" and python_version < "4.0"
pybtex==0.24.0 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.10" and python_version < "4.0"
pydantic==1.10.2 ; python_version >= "3.10" and python_version < "4.0"
pyflakes==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.13.0 ; python_version >= "3.10" and python_version < "4.0"
pyjwt[crypto]==2.6.0 ; python_version >= "3.10" and python_version < "4.0"
pylint==2.15.4 ; python_version >= "3.10" and python_version < "4.0"
pymatgen==2022.9.21 ; python_version >= "3.10" and python_version < "4.0"
pymongo==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "4.0"
pyrsistent==0.18.1 ; python_version >= "3.10" and python_version < "4.0"
pytest==7.1.3 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
python-dotenv==0.21.0 ; python_version >= "3.10" and python_version < "4.0"
pytz==2022.4 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "4.0"
redis==4.3.4 ; python_version >= "3.10" and python_version < "4.0"
requests==2.28.1 ; python_version >= "3.10" and python_version < "4"
rsa==4.9 ; python_version >= "3.10" and python_version < "4"
ruamel-yaml-clib==0.2.6 ; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.10"
ruamel-yaml==0.17.21 ; python_version >= "3.10" and python_version < "4.0"
scikit-learn==1.1.2 ; python_version >= "3.10" and python_version < "4.0"
scipy==1.9.2 ; python_version >= "3.10" and python_version < "4.0"
setuptools-scm==7.0.5 ; python_version >= "3.10" and python_version < "4.0"
setuptools==65.4.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "4.0"
spglib==1.16.5 ; python_version >= "3.10" and python_version < "4.0"
sphinx-rtd-theme==1.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinx==5.3.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.10" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy-utils==0.38.3 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==1.4.41 ; python_version >= "3.10" and python_version < "4.0"
sympy==1.11.1 ; python_version >= "3.10" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "4.0"
tenacity==8.1.0 ; python_version >= "3.10" and python_version < "4.0"
threadpoolctl==3.1.0 ; python_version >= "3.10" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
tomlkit==0.11.5 ; python_version >= "3.10" and python_version < "4.0"
tqdm==4.64.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
uncertainties==3.1.7 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.12 ; python_version >= "3.10" and python_version < "4"
vine==5.0.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.5 ; python_version >= "3.10" and python_version < "4.0"
werkzeug==2.2.2 ; python_version >= "3.10" and python_version < "4.0"
wheel==0.37.1 ; python_version >= "3.10" and python_version < "4.0"
wrapt==1.14.1 ; python_version < "4.0" and python_version >= "3.10"
xgboost==1.6.2 ; python_version >= "3.10" and python_version < "4.0"
